<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script th:src="@{/main.js}" type="text/javascript">

    </script>


</head>
<body>

<div th:replace="fragments/top-navbar :: navbar"></div>

<h2>Registered Suppliers</h2>


<button class="btn btn-primary" data-target="#addSupplierModal" data-toggle="modal" id="addSupplierBt"
        style="margin: 8px">Add Supplier
</button>


<table class="table table-stripped">
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>address</td>
        <td>Phone Number</td>
        <td>Edit</td>
        <td>Delete</td>

    </tr>
    </thead>
    <tr th:each="supplier:${suppliers}">
        <td th:text="${supplier.id} ">Id</td>
        <td th:text="${supplier.name}">Name</td>
        <td th:text="${supplier.address}">Address</td>
        <td th:text="${supplier.phNumber}">Phone Number</td>
        <!--        <td><a  th:href="@{/suppliers/editSupplier/(id=${supplier.id})}" class="btn btn-warning text-white">Edit</a></td>-->
        <td><a class="editSupplierBt btn btn-warning text-white"
               th:href="@{/suppliers/getSupplier/(id=${supplier.id})}">Edit</a></td>
        <td><a class="btn btn-danger text-white" th:href="@{/suppliers/deleteSupplier/(id=${supplier.id})}">Delete</a>
        </td>
    </tr>
</table>


<div aria-hidden="true" aria-labelledby="addSupplierModal" class="modal fade" id="addSupplierModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supplierModalLabel">New Supplier</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="post" th:action="@{/suppliers/addSupplier}">


                    <input id="supplier-id" name="id" type="hidden" value="0">


                    <div class="form-group">
                        <label class="col-form-label" for="supplier-name">Product Name:</label>
                        <input autofocus class="form-control" id="supplier-name" name="name"
                               placeholder="Enter Supplier name" required type="text">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="supplier-phNumber">Phone Number:</label>
                        <input class="form-control" id="supplier-phNumber" name="phNumber"
                               placeholder="Enter Supplier Phone Number" required>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="supplier-address">Supplier Address:</label>
                        <input class="form-control" id="supplier-address" name="address"
                               placeholder="Enter Supplier Address" required type="text">
                    </div>


                    <button class="btn btn-primary" type="submit">Save Supplier</button>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<script>


</script>

</body>
</html>